*
h1 {
    color: black;
}

p {
    color: black;
}

body {
    background-color: #1279FF;
}

main {
    background-color: white;
}

.headings {
    font-family: 'Merriweather', serif;
}

.paragraphs {
    font-family: 'Work Sans', sans-serif;
}

.wireframe1 {
    height: 300px;
    width: 350px;
}